<mat-toolbar>
  My app
  <span style="display: flex;"></span>
  <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
    <button mat-icon-button routerLink="/main/products">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/main/people">
      <mat-icon>person</mat-icon>
    </button>

    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <p class="username">{{(user$| async)?.email}}</p>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        
      </button>
    </mat-menu>
  </ng-container>
  <ng-container *ngIf="!(authenticated$ | async)">
    <button mat-raised-button routerLink="/auth/login">Login</button>
    <button mat-raised-button routerLink="/auth/register">Register</button>
    
    
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- 
<app-sidebar></app-sidebar> -->